body{
  background-color: black;
  color:transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer";
  grid-gap: 0.75rem;
  height: 100vh;
  @media screen and (max-width:425) {
    
    min-height: -webkit-fill-available;
  }
}

header{
  grid-area: header;
  padding: 2%;
}

main {
  grid-area: main;
  margin: 0 10%;
  padding: 3% 0;
  border-top : solid 1px teal;
  border-bottom: solid 1px teal;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  grid-area: footer;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
  @media screen and (max-width:425px) {
    font-size: 1.5rem;
  }
}
a{
  color: inherit;
}
.postes{
  margin-left: 2%;
  font-size: 1.9rem;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
ul li {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start; 
 >span {
  margin-right: 5px;
 }
}
.disclaimer{
  font-size: 2rem;
  margin-bottom: 2%;
  text-align: center;
  @media screen and (max-width:425px) {
    font-size: 1.2rem;
  }
}
.btn-eye {
  display: inline;
  border: none;
  background: transparent;
  color: antiquewhite;
  cursor: pointer;
}

.btn-eye :hover{
  width: 70px;
  height: 70px;
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}